In [3]:
# data analysis
import xlrd
import pandas as pd
import numpy as np
import random as rnd

# visulization 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# data processing
from sklearn import preprocessing

In [4]:
df = pd.read_excel('tsdata.xlsx')

In [9]:
grouped = df.groupby('ID')

In [14]:
for i in range(210625,210849):
    dfx = grouped.get_group(i) #.to_csv('test1.csv',encoding='utf_8_sig'
    break

,Unnamed: 0,工件编号,W3.DATAPOINT.X_R,W3.DATAPOINT.X_I,W3.DATAPOINT.Z_R,W3.DATAPOINT.Z_L,W3.DATAPOINT.X2_R,W3.DATAPOINT.X2_L,W3.DATAPOINT.X3_R,W3.DATAPOINT.X3_L,W3.DATAPOINT.FEED_ACT,W3.DATAPOINT.CODE_L1,W3.DATAPOINT.CODE_L2,W3.DATAPOINT.CODE_L3,W3.DATAPOINT.C_R,W3.DATAPOINT.C_L,ID
0,0,210625,7.295000,-2.800000,1482.310,-8.303,6.16900,-2.564000,0.000000e+00,1610000000000000005588152136974865141390224642...,0.299910,N3700 g95_x000D_,NaN,N3720 g01 x3=4.32 x=3.47 x2=2.63 Z=1469 f0.40_...,-5.380000e+179,0.0,210625
1,1,0,6.142000,-1.648000,1478.892,-4.885,5.11200,-1.508000,2.340000e+136,0.0,0.300400,N3700 g95_x000D_,NaN,N3720 g01 x3=4.32 x=3.47 x2=2.63 Z=1469 f0.40_...,0.000000e+00,0.0,210625
2,2,0,4.992000,-0.497000,1475.481,-1.474,4.05800,-0.454000,0.000000e+00,0,0.300891,N3700 g95_x000D_,NaN,N3720 g01 x3=4.32 x=3.47 x2=2.63 Z=1469 f0.40_...,5.620000e+126,0.0,210625
3,3,0,3.949000,-0.475000,1471.340,-2.330,3.08400,-0.450000,-9.180000e+251,0.0,0.301381,N3710 g01 x3=5.32 x=4.49 x2=3.60 z=1474 f0.30 ...,NaN,N3745 g01 x3=4.35 x=3.50 x2=2.66 Z=1372_x000D_,1.510000e+194,0.0,210625
4,4,0,3.471047,0.028786,1466.598,-94.588,2.63107,0.028786,1.850000e+165,0.0,0.301872,N3720 g01 x3=4.32 x=3.47 x2=2.63 Z=1469 f0.40_...,NaN,N3748 g01 x3=4.28 X=3.43 x2=2.59 Z=1366.5 _x000D_,0.000000e+00,0.0,210625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,207,0,161.174000,88.626000,507.000,0.000,160.97400,88.826000,-4.030000e+261,0,1494.951324,N3860 g01 x3=16.815 x=16.075 X2=15.285 z=507 f...,NaN,"N4200 m_84(0,0) ;stop roller rotation _x000D_",6.390000e-120,0.0,210625
208,208,0,211.006000,38.795000,507.000,0.000,210.97400,38.826000,1.443573e-278,-505000000000000031967365229801766976199971452...,1494.951324,N3860 g01 x3=16.815 x=16.075 X2=15.285 z=507 f...,NaN,"N4200 m_84(0,0) ;stop roller rotation _x000D_",-1.250000e+170,0.0,210625
209,209,0,250.000000,0.000000,507.000,0.000,250.00000,0.000000,1.439005e-278,0.0,0.000000,NaN,NaN,N4300 m05_x000D_,-1.110000e-225,0.0,210625
210,210,0,250.000000,0.000000,507.000,0.000,250.00000,0.000000,1.434437e-278,0.0,0.000000,N4300 m05_x000D_,NaN,"N5000 m_51(1,5) _x000D_",-5.570000e-226,0.0,210625
211,211,0,250.000000,0.000000,507.000,0.000,250.00000,0.000000,1.429868e-278,0.0,0.000000,N4300 m05_x000D_,NaN,"N5000 m_51(1,5) _x000D_",0.000000e+00,0.0,210625